<!DOCTYPE html>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>Bracket Creation</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1><%= user.local.email %>'s brackets</h1>
    <a href="/profile" class="btn btn-default btn-sm">Back to profile</a>

    <table class="table">
      <thead>
        <tr>
          <th>Player 1</th>         
          <th>Player 2</th>
          <th>Player 3</th>
          <th>Player 4</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" ng-model="user.local.brackets.round1a"></td>
          <td><input class="form-control" ng-model="user.local.brackets.round1b"></td>
          <td><input class="form-control" ng-model="user.local.brackets.round1c"></td>
          <td><input class="form-control" ng-model="user.local.brackets.round1d"></td>
          <td><button id='addBracket'> Add Bracket </button></td>

          <!-- <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td> -->
        </tr>
        <tr ng-repeat="bracket in user.local.brackets">
          <!--<td> <%- JSON.stringify(user.local.brackets) %></td> -->
          <td> <%- user.local.brackets[0].round1a %></td>
          <td> <%- user.local.brackets[0].round1b %></td>
          <td> <%- user.local.brackets[0].round1c %></td>
          <td> <%- user.local.brackets[0].round1d %></td>

          <script type="text/javascript">
          </script>
          <!--<td> <%= user.local.brackets %></td>
          <td> <%= user.local.brackets %></td>
          <td> <%= user.local.brackets %></td>
        -->
        
          <td><button class="btn btn-danger" ng-click="remove(user.local.brackets._id)">Remove</button></td>
          <!-- <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td> -->
          <!-- <td><button class="btn btn-primary" ng-click="view(contact._id)">View</button></td> -->
        </tr>
        <tr>
          <td> <%- user.local.brackets[1].round1a %></td>
          <td> <%- user.local.brackets[1].round1b %></td>
          <td> <%- user.local.brackets[1].round1c %></td>
          <td> <%- user.local.brackets[1].round1d %></td>
        </tr>
      </tbody>
    </table>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
   <script src="brackets.js">
  </script>
</body>
</html>